[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nuaudit-python-autogen = "*"

[dev-packages]
pipenv-setup = "*"
chardet = "*"
setupext-janitor = "*"

[requires]
python_version = "3.9"
